.achievements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 9.9%;
    column-gap: 2.475%;
    padding: 0% 1.32% 2.64% 1.32%;
  }
  
  
    h4 {
      padding-left: 2.64%;
      padding-right: 1.32%;
      font-size: 24px;
      color: #337733;
      transition: font-size 0.5s
    }
  
    h4:hover {
      font-size: 30px;
    }
  
    .statistics p {
      padding-left: 3.96%;
      padding-right: 1.32%;
    }

    @media (max-width: 800px) {

      .achievements {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1.25%;
      }

      .achievement p {
        font-size: 18px;
      }

      h4 {
        font-size: 24px;
      }

      h4:hover {
        font-size: 30px;
      }
    }

    @media (max-width: 1180px) and (min-width: 800px) {
      .achievement p {
        font-size: 16px;
      }
  
      h4 {
        font-size: 20px;
      }
  
      h4:hover {
        font-size: 24px;
      }
    }

    @media (max-width: 400px) {
      .achievement p {
        font-size: 16px;
      }
  
      h4 {
        font-size: 20px;
      }
  
      h4:hover {
        font-size: 24px;
      }
    }
  